{% extends "layouts/base.html" %}

{% block title %} Edit Apartments {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Administrator</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="#">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">Apartments</a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">Edit Apartment</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/edit_course_save" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Landlord<span class="required">*</span></label>
                    <small class="form-text text-muted">Register Apartment under?</small>
                    <select class="form-control" name="staffn">
                      {% for staff in staffs %}
                      <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Apartment*</label>
                    <small class="form-text text-muted">Name of
                      the
                      Apartment you wish to register.</small>
                    <input type="text" class="form-control" name="course" placeholder="Enter Course"
                      value="{{ course.course_name }}">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                  </div>

                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Address<span class="required">*</span></label>
                    <small class="form-text text-muted">City/Town</small>
                    <input type="text" class="form-control form-control" name="address" required="required"
                      placeholder="Enter Address">
                  </div>
                  <!-- test add after adding field to model -->
                  <!-- <div class="form-group">
                    <label>Address*</label>
                    <small class="form-text text-muted">New Address</small>
                    <input type="text" class="form-control" name="address" placeholder="Enter Address"
                      value="{{ address_data.address }}">
                    <input type="hidden" name="address" value="{{ address_data.id }}">
                  </div> -->
                  <!-- test -->
                  <div class="form-group">
                    <label>Email Address<span class="required">*</span></label>
                    <small class="form-text text-muted">Enter the apartment's
                      offices email
                      address</small>
                    <input type="email" class="form-control" required="required" name="office_email"
                      placeholder="Enter Email">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Primary Phone No<span class="required">*</span></label>
                    <small class="form-text text-muted">What is your Office
                      phone
                      number?</small>
                    <input type="text" class="form-control form-control" required="required" name="contact1"
                      placeholder="Enter phone number">
                  </div>
                  <div class="form-group">
                    <label>Secondary Phone No</label>
                    <small class="form-text text-muted">Other office phone
                      number?</small>
                    <input type="text" class="form-control form-control" name="contact2"
                      placeholder="Enter phone number">
                  </div>
                </div>
                <div class="form-group">
                  {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-success">Save Changes</button>
                <tr>
                  <td>
                    <button type="button" class="btn btn-danger" id="alert_2" onclick="resetForm()">Cancel</button>
                  </td>
                </tr>
              </div>

            </div>
          </form>
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}