{% extends "layouts/base.html" %}

{% block title %} Register Apartment Form{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/build/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">My Services</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Manage Rentals</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Register New</a>
				</li>
			</ul>
		</div>
		<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
		<!-- Form start -->
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div id="wizard" class="form_wizard wizard_horizontal">
						<ul class="wizard_steps">
							<li>
								<a href="#step-11">
									<span class="step_no">1</span>
									<small>Create Your Listing</small>
									</span>
								</a>
							</li>
							<li>
								<a href="#step-22">
									<span class="step_no">2</span>
									<small>Space Overview</small>
									</span>
								</a>
							</li>
							<li>
								<a href="#step-33">
									<span class="step_no">3</span>
									<small>Rental Conditions</small>
									</span>
								</a>
							</li>

						</ul>
						<div class="card-body" id="step-11">
							<div class="row">
								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<label for="apartment">Apartment </label>
										<small class="form-text text-muted">Choose Property To List New
											Rental</small>
										<select class="form-control" name="course">
											{% for apartment in apartments %}
											<option value="none" selected disabled hidden>Available Apartments</option>
											<option type="button" value="{{ apartment.course_name }}">
												{{apartment.course_name }}
											</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<label>Name<span class="required">*</span></label>
										<small class="form-text text-muted">Name of Landlord</small>
										<select class="form-control" name="staffn">
											{% for staff in staffs %}
											<option value="none" selected disabled hidden>Available Landlords</option>
											<option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}
											</option>
											{% endfor %}
										</select>
									</div>

									<div class="form-group">
										<label for="rental_name">Rental Name*</label>
										<small class="form-text text-muted">Name of
											the
											Unit you wish to register.</small>
										<input type="text" style="text-transform: capitalize;" class="form-control"
											required="required" name="rental_name" placeholder="Rental">
									</div>

									<div class="form-group">
										<label for="category">Rental Type</label>
										<small class="form-text text-muted">What Kind Of Unit Are You
											Listing?.</small>
										<select class="form-control" name="category" id="category">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="Two Bedrooms">Two Bedrooms</option>
											<option value="One Bedroom">One Bedroom</option>
											<option value="Bedsitters">Bedsitters</option>
											<option value="Single Rooms">Single Rooms</option>
											<option value="Hostel">Hostel</option>
										</select>
									</div>

								</div>

								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<label for="country">Country<span class="required">*</span></label>
										<small class="form-text text-muted">Country</small>
										<input type="text" class="form-control" readonly="readonly" name="country"
											id="country" required="required" placeholder="KENYA">
									</div>

									<div class="form-group">
										<label for="city">City<span class="required">*</span></label>
										<small class="form-text text-muted">City</small>
										<input type="text" class="form-control" name="city" id="city"
											required="required" placeholder="City">
									</div>

									<div class="form-group">
										<label for="units">Units*</label>
										<small class="form-text text-muted">Number Of Units</small>
										<input type="text" class="form-control" required="required" name="units"
											id="units" placeholder="1">
									</div>

									<div class="form-group">
										<label for="rental_cost">Rental Cost*</label>
										<small class="form-text text-muted">Rental Amount Due</small>
										<input type="text" class="form-control" required="required" name="rental_cost"
											id="rental_cost" placeholder="0.00">
									</div>

								</div>
								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<label for="per">Per*</label>
										<small class="form-text text-muted">Monthly or Semester.</small>
										<select class="form-control" name="per" id="per">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="Month">Month</option>
											<option value="Semester">Semester</option>
										</select>
									</div>

									<div class="form-group">
										<label for="deposit_amount">Deposit*</label>
										<small class="form-text text-muted">Deposit Amount</small>
										<input type="text" class="form-control" required="required"
											name="deposit_amount" id="deposit_amount" placeholder="0.00">
									</div>

									<div class="form-group">
										<label for="description">Description<span class="required">*</span></label>
										<small id="office_contact1" class="form-text text-muted">Write Down Anything
											Else You Would Like To Mention About The Property.(Such As Environmental
											Conditions,Distance To Nearby Shops e.t.c)</small>
										<!-- <input type="text" rows="5" class="form-control" required="required" name="description"
											placeholder=""> -->
										<textarea class="form-control" required="required" name="description"
											id="description" rows="4">

											</textarea>
									</div>

								</div>
							</div>
						</div>
						<hr>

						<!-- test -->
						<div class="card-body" id="step-22">
							<!-- Amenity Details
							<hr> -->
							<div class="row">
								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<label for="per">Fascilities Available*</label>
										<small class="form-text text-muted">Bathroom</small>
										<select class="form-control" name="bathroom" id="bathroom">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Shared">Shared</option>
											<option value="Private">Private</option>

										</select>
									</div>
									<div class="form-group">
										<small class="form-text text-muted">Toilet*</small>
										<select class="form-control" name="toilet" id="toilet">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Shared">Shared</option>
											<option value="Private">Private</option>

										</select>
									</div>

									<div class="form-group">
										<!-- <label for="kitchen"> Kitchen* </label> -->
										<small class="form-text text-muted">Kitchen</small>
										<select class="form-control" name="kitchen" id="kitchen">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Shared">Shared</option>
											<option value="Private">Private</option>

										</select>
									</div>

									<div class="form-group">
										<!-- <label for="wheelchair">WheelChair</label> -->
										<small class="form-text text-muted">WheelChair Accessible?</small>
										<select class="form-control" name="wheelchair" id="wheelchair">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Shared">Yes</option>

										</select>
									</div>


								</div>
								<div class="col-md-6 col-lg-4">

									<div class="form-group">
										<label>Preffered Tenants*</label>
										<!-- <label for="age">Age</label> -->
										<small class="form-text text-muted">Age Preference</small>
										<select class="form-control" name="age" id="age">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="Over 18">Over 18</option>
											<option value="No Preference">No Preference</option>
										</select>
									</div>

									<div class="form-group">
										<!-- <label for="tenant_type">Tenant</label> -->
										<small class="form-text text-muted">Tenant Type Preference</small>
										<select class="form-control" name="tenant_type" id="tenant_type">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="Student">Student</option>
											<option value="Working Professional">Working Professional</option>
											<option value="No Preference">No Preference</option>
										</select>
									</div>

									<div class="form-group">
										<!-- <label for="sex">Gender</label> -->
										<small class="form-text text-muted">Gender Preference</small>
										<select class="form-control" name="sex" id="sex">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
											<option value="No Preference">No Preference</option>
										</select>
									</div>

									<div class="form-group">
										<!-- <label for=" housemates"> Housemates* </label> -->
										<small class="form-text text-muted">Housemates Gender</small>
										<select class="form-control" name="housemates" id="housemates">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
											<option value="Mixed">Mixed</option>
										</select>
									</div>

								</div>
								<div class="col-md-6 col-lg-4">

									<div class="form-group">
										<label>Housing Rules*</label>
										<!-- <label for="music">Music</label> -->
										<small class="form-text text-muted">Music Allowed?</small>
										<select class="form-control" name="music" id="music">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Yes">Yes</option>
											<option value="Negotiable">Negotiable</option>
										</select>
									</div>

									<div class="form-group">
										<!-- <label for="pets">Pets</label> -->
										<small class="form-text text-muted">Pets Allowed?</small>
										<select class="form-control" name="pets" id="pets">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Yes">Yes</option>
											<option value="Negotiable">Negotiable</option>
										</select>
									</div>

									<div class="form-group">
										<!-- <label for="smoking">Smoking</label> -->
										<small class="form-text text-muted">Smoking Allowed?</small>
										<select class="form-control" name="smoking" id="smoking">
											<option value="none" selected disabled hidden>Choose option</option>
											<option value="No">No</option>
											<option value="Yes">Yes</option>
											<option value="Negotiable">Negotiable</option>
											<option value="Outside The Premises">Outside The Premises</option>
										</select>
									</div>


								</div>
							</div>
						</div>
						<!-- test -->
						<hr>
						<!-- test2 -->
						<div class="card-body" id="step-33">
							<div class="row">

								<div class="col-md-12 col-lg-12">
									<!-- create the table for utility costs -->

									<div class="form-group">
										<label>Utility Costs*</label>
									</div>
									<div class="card-body table-responsive p-0">
										<table class="table table-hover text-nowrap">
											<thead>
												<tr>
													<th>Utility</th>
													<th>Included In Rent?</th>
													<th>How Often?</th>
													<th>Estimated/Exact?</th>
													<th>Amount</th>
												</tr>
											</thead>
											<tbody>
												{% for utility in utilities %}
												<tr>
													<td>{{ utility.name}}</td>
													<td>{{ apartment.apartment_name }}</td>
													<td><a href="/edit_apartment/{{ apartment.id }}"
															class="btn btn-success">Edit</a></td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>

									<!-- break the table for utility costs -->
								</div>

								<!-- <div class="col-md-6 col-lg-4">
									<div class="form-group">
										<label>Amenities Available*</label>
										<small class="form-text text-muted">WI-FI Available?</small>
										<select class="form-control" name="wheelchair" id="wheelchair">
											{% for wifi in wifis %}
											<option value="{{ rental.id }}">{{ rental.wifi}}</option>
											{% endfor %}
										</select>
									</div>

								</div> -->
							</div>
						</div>
						<!-- test2 -->
						<div class="card-action">
							<button onclick="save()" type="submit" name="submit" id="submit"
								class="btn btn-success">Submit</button>
							<!-- <button type="cancel" class="btn btn-danger">Cancel</button> -->
							<tr>
								<td>
									<button type="button" class="btn btn-danger" id="alert_2"
										onclick="resetForm()">Cancel</button>
								</td>
							</tr>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Form End -->
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	//== Class definition
	var AlertPopUp = function () {

		//== Reset form on Cancel(alert_2)js
		var initAlert = function () {
			$('#alert_2').click(function (e) {
				swal({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					type: 'warning',
					buttons: {
						confirm: {
							text: 'Confirm',
							className: 'btn btn-success'
						},
						cancel: {
							visible: true,
							className: 'btn btn-danger'
						}
					}
				}).then((resetForm) => {
					if (resetForm) {
						swal({
							title: 'Reset',
							text: 'Your form has been reset.',
							type: 'success',
							buttons: {
								confirm: {
									className: 'btn btn-success'
								}
							}
						});
					} else {
						swal.close();
					}
				});
			});

		};

		return {
			//== Init
			init: function () {
				initAlert();
				resetForm();
			},
		};
	}();

	//== Class Initialization
	jQuery(document).ready(function () {
		AlertPopUp.init();
	});
</script>

<!-- <script>
	function takevalue(){
		var apartment_name=document.getElementById("apartment").value;
		var office_address=document.getElementById("address").value;
		var office_email=document.getElementById("email").value;
		office_contact1=document.getElementById("contact1").value;
		office_contact2=document.getElementById("contact2").value;
	}
</script> -->
<script>
	var storedItem = localStorage.getItem("storedItem");
	function save() {
		var apartment_name = document.getElementById("apartment_name").value;
		var office_address = document.getElementById("office_address").value;
		var office_email = document.getElementById("office_email").value;
		var office_contact1 = document.getElementById("office_contact1").value;
		var office_contact2 = document.getElementById("office_contact2").value;
		localStorage.setItem("storedItem", apartment_name, office_address, office_email, office_contact1, office_contact2)
	}
</script>



{% endblock javascripts %}