{% extends "layouts/base.html" %}

{% block title %} UI Buttons {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">My Services</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Manage Apartments</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">View All</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>ID</th>
									<th>Apartment Name</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
									{% for course in courses %}
									  <tr>
										<td>{{ course.id }}</td>
										<td>{{ course.course_name }}</td>
										<td><a href="/edit_course/{{ course.id }}" class="btn btn-success">Edit</a></td>
									  </tr>
									{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}